@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: aliceblue;
}

.nav-con {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 40px;
}

.des-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.des-menu {
    display: flex;
    gap: 40px;
}

.des-menu a {
    color: #1C646A;
    font-weight: 600;
}

.mob-menu-btn {
    display: none;
}

.mob-menu {
    display: none;
    margin-top: 20px;
}

.mob-menu li {
    margin-top: 20px;
    color: #1C646A;
    font-weight: 600;
}

.mob-menu button {
    margin-top: 20px;
    width: 100%;
    padding: 6px 0;
    border: none;
    border-radius: 6px;
    background-color: #1C646A;
    color: white;
}

/* seach icon  */
.search-main {
    display: none;
    margin-top: 20px;
}

.search-main.open {
    display: block;
}

.search {
    display: flex;
    justify-content: center;
}

.search-fild {
    width: 60%;
    height: 50px;
    float: left;
    border: 1px solid #1C646A;
    background-color: white;
    border-right: none;
    /* background: transparent; */
    border-bottom-left-radius:8px;
    border-top-left-radius:8px;
    outline: none;
    padding-left: 10px;
}

.search-btn {
    height: 50px;
    float: left;
    border: 1px solid #1C646A;
    background-color: #1C646A;
    border-left: none;
    /* background: transparent; */
    padding: 0 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media(max-width:450px) {

    /* seach icon  */
    .search-fild {
        width: 80%;
        height: 36px;
    }

    .search-btn {
        height: 36px;
    }
}

@media(max-width:910px) {
    .nav-con {
        padding: 30px 18px;
    }

    .des-menu {
        display: none;
    }

    .mob-menu-btn {
        display: flex;
    }

    .mob-menu {
        display: none;
    }

    .mob-menu.active {
        display: block;
    }

    /* seach icon  */
    .search-fild {
        height: 36px;
    }

    .search-btn {
        height: 36px;
    }
}